{% extends 'flatpages/default.html' %}

{% block title %} Все объявления {% endblock title %}

{% block content %}
<br>
<h3>Все объявления</h3>
<br>
<br>
{% for note in notes %}
<h5><a href="{% url 'detail' note.id %}"><u>{{ note.title }}</u></a></h5>
<br>
<br>
<h6>{{ note.content|safe  }}</h6>
<br>
<hr>
<hr>

{% endfor %}

<!--код для пагинации-->
{% if is_paginated %}
{% if page_obj.has_previous %}
<a href="?page=1">First</a>
<a href="?page={{ page_obj.previous_page_number }}"><<<</a>
{% endif %}
{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a>{{ num }}</a>
{% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
<a href="?page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">>>></a>
<a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif %}
{% endif %}
<br>
<hr>


{% endblock content %}