{% extends 'flatpages/default.html' %}

{% block title %} Отклики пользователя {% endblock title %}

{% block content %}

<br>
<form method="GET">
    {{ filter.form }}
    <input type="submit" value="Найти">
</form><br>

<hr>
<hr>

{% if not new_response %}
<br><h3>Новых откликов нет</h3><br>
{% endif %}

{% if new_response %}
<br><h3>Новые отклики</h3><br>

<table cellspacing="5" cellpadding="10" border="1"
       style=" border-spacing : 10px; border-color : blue; border-style: solid;" bgcolor="FFFFFF">
    <tr>
        <td width="300"><h5>Объявление</h5></td>
        <td width="100"><h5>Пользователь</h5></td>
        <td width="250"><h5>Контакты</h5></td>
        <td width="150"><h5>Дата отклика</h5></td>
        <td width="250"><h5>Действия</h5></td>
    </tr>
    {% for response in filter.qs %}
    <tr>
        <td><p align="center">{{ response.note }}</p></td>
        <td><p align="center">{{ response.user_response.first_name }} {{ response.user_response.last_name }}</p></td>
        <td><p align="center">{{ response.content }}</p></td>
        <td><p align="center">{{ response.datetime | date:"d M Y" }}</p></td>
        <td><p align="center"><a href="{% url 'accept' response.id %}"><u>принять</u></a> / <a href="{% url 'remove' response.id %}"><u>отклонить</u></a></p></td>
    </tr>
    {% endfor %}
</table><br>
{% endif %}

{% if add_response %}
<br><h3>Принятые отклики</h3><br>
<table cellspacing="5" cellpadding="10" border="1"
       style=" border-spacing : 10px; border-color : blue; border-style: solid;" bgcolor="FFFFFF">
    <tr>
        <td width="300"><h5>Объявление</h5></td>
        <td width="100"><h5>Пользователь</h5></td>
        <td width="250"><h5>Контакты</h5></td>
        <td width="150"><h5>Дата отклика</h5></td>
        <td width="250"><h5>Статус</h5></td>
    </tr>
    {% for response in add_response %}
    <tr>
        <td><p align="center">{{ response.note }}</p></td>
        <td><p align="center">{{ response.user_response.first_name }} {{ response.user_response.last_name }}</p></td>
        <td><p align="center">{{ response.content }}</p></td>
        <td><p align="center">{{ response.datetime | date:"d M Y" }}</p></td>
        <td><p align="center">принят (<a href="{% url 'remove' response.id %}"><u>отклонить</u></a>)</p></td>
    </tr>
    {% endfor %}
</table><br>
{% endif %}

{% if del_response %}
<br><h3>Отклоненные отклики</h3><br>
<table cellspacing="5" cellpadding="10" border="1"
       style=" border-spacing : 10px; border-color : blue; border-style: solid;" bgcolor="FFFFFF">
    <tr>
        <td width="300"><h5>Объявление</h5></td>
        <td width="100"><h5>Пользователь</h5></td>
        <td width="250"><h5>Контакты</h5></td>
        <td width="150"><h5>Дата отклика</h5></td>
        <td width="250"><h5>Статус</h5></td>
    </tr>
    {% for response in del_response %}
    <tr>
        <td><p align="center">{{ response.note }}</p></td>
        <td><p align="center">{{ response.user_response.first_name }} {{ response.user_response.last_name }}</p></td>
        <td><p align="center">{{ response.content }}</p></td>
        <td><p align="center">{{ response.datetime | date:"d M Y" }}</p></td>
        <td><p align="center">отклонен (<a href="{% url 'accept' response.id %}"><u>принять</u></a>)</p></td>
    </tr>
    {% endfor %}
</table><br>
{% endif %}


{% endblock content %}